{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div>
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Ištrinti užrašą</legend>
            <h2>Ar tikrai norite ištrinti užrašą {{ object.uuid }}?</h2>
        </fieldset>
        <div>
            <button class="button" type="submit">Taip, ištrinti</button>
            <a class="button" href="{% url 'note:mynotes'%}">Atšaukti</a>
        </div>
    </form>
    </div>
{% endblock content %}