body {
    margin: 1rem;
    font-family: 'Ubuntu', sans-serif; /*pasirinktas sriftas*/
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: beige;
    padding: 2rem 2rem 2rem 65rem;
    border-radius: 1rem;
}

.header nav a{
    text-decoration: none;
    margin-left: 2rem;
    padding: 0;
}

.header nav a:last-child{
    color: #FF3998;
}

.index {
    padding: 4rem 10rem;
}

.index h1 {
    font-size: 4.5rem;
    font-style: bold;
    margin-top: 1rem;
    margin-bottom: 0;
}

.button {
    border-radius: 100rem;
    /* font-family: 'Avenir Next'; */
    font-size: 1rem;
    padding:0.5rem 2rem;
    color: black;
    border: solid 4px transparent;
    background-image: linear-gradient(rgba(255,57,57, 0), rgba(255,129,57, 0), rgb(57,255,160, 0)), linear-gradient(101deg, #FF3939, #FF8139, #39FFA0);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
} 

form {
    border: 1rem solid #f1f1f1;
    padding: 2rem 12rem;
    border-radius: 2rem;
}

form[action='/note/search/'] {
    border: 0rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
}

.form-control {
    border-radius: 1rem;
    padding: 0.5rem;
}

.form {
    border: 1rem solid #f1f1f1;
    padding: 2rem 12rem;
    border-radius: 2rem;
}
  
.line {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.space {
    padding: 0.5rem;
}

.nft {
    display: flex;
    justify-content:space-around;
    border-bottom: 2px solid red;
    margin-bottom: 1rem;
}   

  
.control-group {
    border: 1rem solid #f1f1f1;
    padding: 2rem 12rem;
    border-radius: 2rem;
}

.textinput, textarea, select {
    border-radius: 0.5rem;
}
