<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'note/style.css' %}">
    {% block title %}<title>Užrašinė</title>{% endblock %}
</head>
<body>
    {% block sidebar %}
            <div class="header">
            {% if user.is_authenticated %}
                <h>Labas - {{ user.get_username }}</h>
            <nav>
                <a href="{% url 'note:mynotes' %}">Mano užrašai</a>
                <a href="{% url 'note:mycategorys' %}">Mano Kategorijos</a>
                <a href="{% url 'logout' %}">Atsijungti</a>
                <form action="{% url 'note:search' %}" method="get" class="form-inline my-2 my-md-0">
                    <input name="query" class="form-control" type="text" placeholder="Paieška">
                </form>
            </nav>
            {% else %}
            <nav>
                <a href="{% url 'note:index' %}">Sveiki</a>
                <a href="{% url 'login'%}?next={% url 'note:index' %}">Prisijungti</a>
                <a href="{% url 'note:register' %}">Registruotis</a>
            </nav>
            {% endif %}
            </div>
    {% endblock %}
    <div>{% block content %}{% endblock %}</div>
</body>
</html>