<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'note/style.css' %}">
    {% block title %}<title>Užrašinė</title>{% endblock %}
</head>
<body>
    {% block sidebar %}
        <header>
            <div class="header">
            <nav>
                <a href="{% url 'index' %}">Sveiki</a>
                <a href="#">Prisijungti</a>
                <a href="#">Registruotis</a>
            </nav>
            </div>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    {% endblock %}
    <div>{% block content %}{% endblock %}</div>
</body>
</html>